---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Resume">
  <div class="container mx-auto my-20 p-6">
    <div class="bg-base-100 dark:bg-base-300 mb-8 rounded-lg p-8 shadow-md">
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        <div>
          <h1 class="mb-2 text-3xl font-bold">Patrick McGonigle</h1>
          <p class="text-base">Watford, England, United Kingdom</p>
        </div>
        <div class="md:text-right">
          <p class="text-base">itguy@patrickmcgonigle.com</p>
          <p class="text-base">07306043813</p>
        </div>
      </div>
    </div>

    <div class="bg-base-100 dark:bg-base-300 mb-8 rounded-lg p-8 shadow-md">
      <h2 class="mb-4 text-xl font-bold">Summary</h2>
      <p class="text-base">
        Highly skilled and certified IT engineer with 10+ years of experience in
        web development, database administration, and system support. Proven
        ability to troubleshoot and resolve technical issues, manage system
        deployments, and streamline IT operations. Seeking to leverage expertise
        in providing top-tier IT solutions as an independent contractor.
      </p>
    </div>

    <div class="bg-base-100 dark:bg-base-300 mb-8 rounded-lg p-8 shadow-md">
      <h2 class="mb-4 text-xl font-bold">Skills</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <h3 class="mb-2 text-lg font-semibold">Technical Skills</h3>
          <ul class="list-inside list-disc text-base">
            <li>
              Web Development: HTML, CSS, JavaScript, Astro, React, NextJS, PHP,
              Laravel
            </li>
            <li>Databases: MSSQL, MySQL, Postgres, SQLIte</li>
            <li>Servers: Windows Server, Linux (Ubuntu, RedHat)</li>
            <li>Operating Systems: Windows, Linux, macOS</li>
            <li>Scripting: PowerShell, T-SQL</li>
            <li>Tools: Apache, IIS, NodeJS, Docker, Git</li>
          </ul>
        </div>
        <div>
          <h3 class="mb-2 text-lg font-semibold">Other Skills</h3>
          <ul class="list-inside list-disc text-base">
            <li>Communication</li>
            <li>Problem-solving</li>
            <li>Customer service</li>
            <li>Teamwork</li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="bg-base-100 dark:bg-base-300 mb-8 grid grid-cols-1 gap-6 rounded-lg p-8 shadow-md">
      <h2 class="mb-4 text-xl font-bold">Experience</h2>
      <div class="">
        <h3 class="mb-2 text-lg font-semibold">Freelance</h3>
        <p class="mb-1 text-base">
          Watford, England, United Kingdom | May 2019 - Present
        </p>
        <ul class="list-inside list-disc text-base">
          <li>
            Developed and maintained responsive websites for various local
            businesses and startups.
          </li>
          <li>
            Provided full-service digital solutions, including web design,
            development, and hosting.
          </li>
        </ul>
      </div>
      <div>
        <h3 class="mb-2 text-lg font-semibold">
          JATO Application Support Engineer
        </h3>
        <p class="mb-1 text-base">JATO Dynamics | Nov 2014 - Apr 2019</p>
        <ul class="list-inside list-disc text-base">
          <li>
            Provided technical support to JATO staff globally, resolving issues
            with operating systems, databases, and web servers.
          </li>
          <li>
            Managed the successful migration of all customer sites from Windows
            2003 to 2012 R2.
          </li>
          <li>
            Streamlined daily routines with PowerShell and TSQL scripts and SQL
            jobs.
          </li>
          <li>
            Worked with stakeholders throughout Sprints to successfully deploy
            JATO's API Toolkit from development to production environments.
          </li>
        </ul>
      </div>
      <div>
        <h3 class="mb-2 text-lg font-semibold">
          Desktop & Application Support Analyst
        </h3>
        <p class="mb-1 text-base">Medicals Direct | Oct 2011 - Nov 2014</p>
        <ul class="list-inside list-disc text-base">
          <li>
            Provided IT support to system users via phone, email, and remote
            support tools.
          </li>
          <li>
            Installed and configured computer systems using different build
            technologies.
          </li>
          <li>
            Performed routine backups and archival of files for disaster
            recovery.
          </li>
        </ul>
      </div>
      <div>
        <h3 class="mb-2 text-lg font-semibold">IT Support Analyst</h3>
        <p class="mb-1 text-base">
          Lawyers & International Consultants | Oct 2010 - Oct 2011
        </p>
        <ul class="list-inside list-disc text-base">
          <li>
            Troubleshooted and resolved technical problems with PCs, laptops,
            and mobile devices.
          </li>
          <li>
            Developed web-based interfaces for MySQL databases and web
            applications.
          </li>
          <li>
            Administered the database, including performance monitoring and
            tuning.
          </li>
        </ul>
      </div>
      <div>
        <h3 class="mb-2 text-lg font-semibold">Helpdesk & Customer Support</h3>
        <p class="mb-1 text-base">Capital Repairs | Apr 2007 - Jan 2009</p>
        <ul class="list-inside list-disc text-base">
          <li>
            Handled incoming incidents via phone and email, ensuring timely
            resolution.
          </li>
          <li>
            Arranged appointments for engineers to attend premises and make
            repairs.
          </li>
          <li>
            Dealt with customer queries, requests, orders, and complaints.
          </li>
        </ul>
      </div>
      <div>
        <h3 class="mb-2 text-lg font-semibold">Helpdesk & Customer Advisor</h3>
        <p class="mb-1 text-base">ADI Services | May 2005 - Apr 2007</p>
        <ul class="list-inside list-disc text-base">
          <li>Set up and maintained a network on Windows Server 2003.</li>
          <li>
            Deployed an in-house engineer booking system to all workstations
            within the network.
          </li>
          <li>
            Created, updated, and monitored user accounts with Active Directory.
          </li>
        </ul>
      </div>
    </div>

    <div class="bg-base-100 dark:bg-base-300 mb-8 rounded-lg p-8 shadow-md">
      <h2 class="mb-4 text-xl font-bold">Education</h2>
      <div>
        <h3 class="mb-2 text-lg font-semibold">Stanmore College</h3>
        <p class="mb-1 text-base">CompTIA A+, IT Technician | 2010</p>
      </div>
      <div>
        <h3 class="mb-2 text-lg font-semibold">St Dominic's</h3>
        <p class="mb-1 text-base">
          GNVQ, Business Studies & Information Technology | 1994-1996
        </p>
      </div>
      <div>
        <h3 class="mb-2 text-lg font-semibold">Salvatorian College</h3>
        <p class="mb-1 text-base">GCSEs | 1990-1994</p>
      </div>
    </div>

    <div class="bg-base-100 dark:bg-base-300 rounded-lg p-8 shadow-md">
      <h2 class="mb-4 text-xl font-bold">Certifications</h2>
      <ul class="list-inside list-disc text-base">
        <li>
          CompTIA A+ | CompTIA | The Candidate ID is COMP001020181544. The
          certification can be verified at http://verify.CompTIA.org using the
          code VLK59Z9JJKR1S23C
        </li>
        <li>
          ITIL® Foundation Certificate in IT Service Management | AXELOS Global
          Best Practice | Certificate number: GR750480155PM
        </li>
        <li>Apache Tomcat Administration | StayAhead Training Ltd</li>
        <li>
          Responsive Web Design | freeCodeCamp | <a
            class="underline"
            href="https://www.freecodecamp.org/certification/fccf6552bd4-0dcb-4384-8897-77fecd659b0a/responsive-web-design"
            >View certificate
          </a>
        </li>
      </ul>
    </div>
  </div>
</Layout>
